body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: red;
}
/* Form styling */
.form-section,
.date-section {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section label,
.date-section label,
.team-row label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
  padding: 5px;
  margin-bottom: 10px;
  width: 250px; 
}

/* Entering teams & players */

#team-names-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.team-row {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.team-member-input {
  display: none; 
  margin-top: 5px;
}

/* Button Styling */

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: darkred;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
